* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 4px solid black;

}


.main {
    border: 2px solid black;
    width: 600px;
    padding: 50px;
    display: flex;
    gap: 20px;
    text-align: center;
    background-image: url(https://st2.depositphotos.com/10614052/49040/i/450/depositphotos_490405954-stock-photo-pakistan-flag-light-background.jpg);
}

p {

    font-size: large;
}

.samina {
    margin-top: 65px;
    align-items: center;
    /* border: 1px solid black; */
    align-content: center;
}

.arfa {
    margin-top: 30px;
    /* border: 1px solid black; */
    align-content: center;
}

.benazir {
    /* border: 1px solid black; */
    align-content: center;
}

.marium {
    /* border: 1px solid black; */
    align-content: center;
}




